<div>
    <h2>   ToDo List   </h2>
    <form action ="/todo/addtask" method="POST">
          <input type="text" name="newtask" placeholder="add new task">        
          <button> Add </button>
      <h2>  Task </h2>
    
      <% for( var i = 0; i < task.length; i++){ %>
    <li> <%= task[i] %> </li>
    <% } %>
    </form>

</div>